<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="common-fragments.html :: head"></head>

<body>

    <!-- LOADER -->
    <div th:replace="common-fragments.html :: preloader"></div>
    <!-- END LOADER -->

    <!-- Home Popup Section -->
    <!-- End Screen Load Popup Section -->

    <!-- START HEADER -->
    <header th:replace="common-fragments.html :: header"></header>
    <!-- END HEADER -->

    <!-- START SECTION BREADCRUMB -->
    <div class="breadcrumb_section bg_gray page-title-mini">
        <div class="container"><!-- STRART CONTAINER -->
            <div class="row align-items-center">
                <div class="col-md-6">
                    <div class="page-title">
                        <h1>로그인</h1>
                    </div>
                </div>
                <div class="col-md-6">
                    <ol class="breadcrumb justify-content-md-end">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item"><a href="#">Pages</a></li>
                        <li class="breadcrumb-item active">Login</li>
                    </ol>
                </div>
            </div>
        </div><!-- END CONTAINER-->
    </div>
    <!-- END SECTION BREADCRUMB -->

    <!-- START MAIN CONTENT -->
    <div class="main_content">

        <!-- START LOGIN SECTION -->
        <div class="login_register_wrap section">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-xl-6 col-md-10">
                        <div class="login_wrap">
                            <div class="padding_eight_all bg-white">
                                <div class="heading_s1">
                                    <h3>로그인</h3>
                                </div>
                                <form method="post" class="needs-validation" novalidate>
                                    <div class="form-group">
                                        <label for="email">이메일</label>
                                        <input id="email" type="text" class="form-control" name="username" placeholder="이메일을 입력하세요." required>
                                    </div>
                                    <div class="form-group">
                                        <label for="password">패스워드</label>
                                        <input id="password" class="form-control" type="password" name="password" placeholder="패스워드 입력하세요." required>
                                    </div>
                                    <small class="form-text text-danger" th:if="${param.error}">
                                        가입하지 않은 아이디이거나, 잘못된 비밀번호 입니다.
                                    </small>
                                    <div class="login_footer form-group">
                                        <div class="chek-form">
                                            <div class="custome-checkbox">
                                                <input class="form-check-input" type="checkbox" name="checkbox" id="exampleCheckbox1" value="">
                                                <label class="form-check-label" for="exampleCheckbox1"><span>아이디 기억하기</span></label>
                                            </div>
                                        </div>
                                        <a href="#">비밀번호가 생각나지 않으시나요?</a>
                                    </div>
                                    <div class="form-group">
                                        <button type="submit" class="btn btn-fill-out btn-block">로그인</button>
                                    </div>
                                </form>
                                <div class="different_login">
                                    <span> or</span>
                                </div>
                                <ul class="btn-login list_none text-center">
                                    <li><a href="#" class="btn btn-facebook"><i class="ion-social-facebook"></i>Facebook</a></li>
                                    <li><a href="#" class="btn btn-google"><i class="ion-social-googleplus"></i>Google</a></li>
                                </ul>
                                <div class="form-note text-center">아직 계정이 없으시다구요? <a href="/signup">회원가입 하기</a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- END LOGIN SECTION -->

        <!-- START SECTION SUBSCRIBE NEWSLETTER -->
        <!-- END SECTION SUBSCRIBE NEWSLETTER -->

    </div>
    <!-- END MAIN CONTENT -->

    <!-- START FOOTER -->
    <div th:replace="common-fragments.html :: footer"></div>
    <!-- END FOOTER -->

    <a href="#" class="scrollup" style="display: none;"><i class="ion-ios-arrow-up"></i></a>

    <script th:replace="common-fragments.html :: form-validation"></script>
</body>
</html>
