<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="common-fragments.html :: head"></head>

<body>

    <!-- LOADER -->
    <div th:replace="common-fragments.html :: preloader"></div>
    <!-- END LOADER -->

    <!-- Home Popup Section -->
    <!-- End Screen Load Popup Section -->

    <!-- START HEADER -->
    <header th:replace="common-fragments.html :: header"></header>
    <!-- END HEADER -->

    <!-- START SECTION BREADCRUMB -->
    <div class="breadcrumb_section bg_gray page-title-mini">
        <div class="container"><!-- STRART CONTAINER -->
            <div class="row align-items-center">
                <div class="col-md-6">
                    <div class="page-title">
                        <h1>내 계정</h1>
                    </div>
                </div>
                <div class="col-md-6">
                    <ol class="breadcrumb justify-content-md-end">
                        <li class="breadcrumb-item"><a href="/">Home</a></li>
                        <li class="breadcrumb-item"><a href="#">Pages</a></li>
                        <li class="breadcrumb-item active">My Account</li>
                    </ol>
                </div>
            </div>
        </div><!-- END CONTAINER-->
    </div>
    <!-- END SECTION BREADCRUMB -->

    <!-- START MAIN CONTENT -->
    <div class="main_content">
        <script th:inline="javascript">
            var addrObj = {
                // 도로명주소
                searchAddrFn   : function() {
                    var roadAddress = "";
                    daum.postcode.load(function(){
                        new daum.Postcode({
                            oncomplete: function(data) {
                                $("input[name='roadAddr']").val(data.roadAddress)
                                $("input[name='buildingName']").val(data.buildingName)
                            }
                        }).open()
                    })
                }
            }
            var profileSettingsObj = {
                passwordClick : function () {
                    console.log("password-tab")
                },
                orderClick : function () {
                    console.log('order-tab')
                },
                modifyProfile : function () {
                    const userId = [[${session.user.id}]]
                    const API_VERSION = "/api/v1"

                    var profileObj = {
                        "name" : $("input[name='name']").val(),
                        "agreeMessageByEmail" : $("input[name='rdo_email_chk']").val(),
                        "roadAddr" : $("input[name='roadAddr']").val(),
                        "buildingName" : $("input[name='buildingName']").val(),
                        "detailAddr" : $("input[name='detailAddr']").val()
                    }

                    $.ajax({
                        type : "PUT",
                        url  : API_VERSION + "/account/" + userId,
                        contentType: "application/json",
                        data : JSON.stringify(profileObj),
                        success: function (data) {
                            $(".text-danger").hide()
                            alert(data);
                        },
                        error : function (e) {
                            $(".text-danger").hide()
                            var errors = e.responseJSON.errors
                            errors.forEach(el => {
                                $("#warn-" + el.field).show()
                            })
                            //alert(e.responseText);
                        }
                    })
                }
            }
            $(function() {
                const userId = [[${session.user.id}]]
                const API_VERSION = "/api/v1"
                $(".text-danger").hide()

                $.ajax({
                    type : "GET",
                    url  : API_VERSION + "/account/" + userId,
                    contentType: "application/json",
                    success: function (data) {
                        console.log(data)
                        $("input[name='name']").val(data.name)
                        data.agreeMessageByEmail ? $("#email_yes").prop('checked', true) : $("#email_no").prop('checked', true)
                        $("input[name='roadAddr']").val(data.roadAddr)
                        $("input[name='buildingName']").val(data.buildingName)
                        $("input[name='detailAddr']").val(data.detailAddr)
                    },
                    error : function (e) {
                        alert(e.responseText);
                    }
                })
            })
        </script>
        <!-- START SECTION SHOP -->
        <div class="section">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-md-4">
                        <div class="dashboard_menu">
                            <ul class="nav nav-tabs flex-column" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" id="account-detail-tab" data-toggle="tab" href="#account-detail" role="tab" aria-controls="account-detail" aria-selected="true"><i class="ti-id-badge"></i>프로필</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" onclick="profileSettingsObj.passwordClick()" id="password-tab" data-toggle="tab" href="#password" role="tab" aria-controls="orders" aria-selected="false"><i class="ti-lock"></i>비밀번호</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" onclick="profileSettingsObj.orderClick()" id="orders-tab" data-toggle="tab" href="#orders" role="tab" aria-controls="orders" aria-selected="false"><i class="ti-shopping-cart-full"></i>주문내역</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" th:href="@{/logout}"><i class="ti-lock"></i>로그아웃</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-9 col-md-8">
                        <div class="tab-content dashboard_content">
                            <!--                        <div class="tab-pane fade active show" id="dashboard" role="tabpanel" aria-labelledby="dashboard-tab">-->
                            <!--                            <div class="card">-->
                            <!--                                <div class="card-header">-->
                            <!--                                    <h3>Dashboard</h3>-->
                            <!--                                </div>-->
                            <!--                                <div class="card-body">-->
                            <!--                                    <p>From your account dashboard. you can easily check &amp; view your <a href="javascript:void(0);" onclick="$('#orders-tab').trigger('click')">recent orders</a>, manage your <a href="javascript:void(0);" onclick="$('#address-tab').trigger('click')">shipping and billing addresses</a> and <a href="javascript:void(0);" onclick="$('#account-detail-tab').trigger('click')">edit your password and account details.</a></p>-->
                            <!--                                </div>-->
                            <!--                            </div>-->
                            <!--                        </div>-->
                            <div class="tab-pane fade active show" id="account-detail" role="tabpanel" aria-labelledby="account-detail-tab">
                                <div class="card">
                                    <div class="card-header">
                                        <h3>프로필</h3>
                                    </div>
                                    <div class="card-body">
                                        <p>프로필을 수정하려면 빈칸을 채우고 버튼을 누르세요.</p>
                                        <form>
                                            <div class="row">
                                                <div class="form-group col-md-12">
                                                    <label>이메일</label>
                                                    <h5 th:text="${#authentication.principal.email}">이메일 주소</h5>
                                                </div>
                                                <div class="form-group col-md-6">
                                                    <label>이름<span class="required">*</span></label>
                                                    <input class="form-control" name="name" type="text" required>
                                                    <small id="nameHelp" class="form-text text-muted">
                                                        공백없이 20자(숫자/문자) 이내로 입력가능 합니다.
                                                    </small>
                                                    <small class="form-text text-danger" id="warn-name">이름 값이 유효하지 않습니다.</small>
                                                </div>
                                                <div class="form-group col-md-12">
                                                    <label>메일 수신동의 여부<span class="required">*</span></label>
                                                    <div class="radio">
                                                        <label>
                                                            <input type="radio" name="rdo_email_chk" id="email_yes" value="true"> Yes
                                                        </label>
                                                        <label>
                                                            <input type="radio" name="rdo_email_chk" id="email_no" value="false"> No
                                                        </label>
                                                    </div>
                                                </div>
                                                <div class="form-group col-md-6">
                                                    <label>도로명 주소</label>
                                                    <input name="roadAddr" class="form-control changeable-input" type="text" placeholder="도로명 주소를 입력하세요.">
                                                    <small id="roadAddrHelp" class="form-text text-muted">
                                                        50자(숫자/문자) 이내로 입력가능 합니다.
                                                    </small>
                                                    <small class="form-text text-danger" id="warn-roadAddr">도로명 주소 값이 유효하지 않습니다.</small>
                                                </div>
                                                <div class="form-group col-md-6">
                                                    <label>건물 이름</label>
                                                    <input name="buildingName" class="form-control changeable-input" type="text" placeholder="건물 이름을 입력하세요.">
                                                    <small id="buildingNameHelp" class="form-text text-muted">
                                                        50자(숫자/문자) 이내로 입력가능 합니다.
                                                    </small>
                                                    <small class="form-text text-danger" id="warn-buildingName">건물 이름 값이 유효하지 않습니다.</small>
                                                </div>
                                                <div class="form-group col-md-6">
                                                    <label>상세 주소</label>
                                                    <input name="detailAddr" class="form-control changeable-input" type="text" placeholder="상세 주소를 입력하세요.">
                                                    <small id="detailAddrHelp" class="form-text text-muted">
                                                        50자(숫자/문자) 이내로 입력가능 합니다.
                                                    </small>
                                                    <small class="form-text text-danger" id="warn-detailAddr">상세 주소 값이 유효하지 않습니다.</small>
                                                </div>
                                                <div class="form-group col-md-6">
                                                    <button th:type="button" class="btn btn-fill-out" onclick="addrObj.searchAddrFn()">우편번호 검색</button>
                                                </div>
                                                <div class="col-md-12">
                                                    <button type="button" class="btn btn-fill-out" name="submit" onclick="profileSettingsObj.modifyProfile()">수정</button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="password" role="tabpanel" aria-labelledby="password-tab">
                                <div class="card">
                                    <div class="card-header">
                                        <h3>비밀번호</h3>
                                    </div>
                                    <div class="card-body">
                                        <p>비밀번호를 수정하려면 빈칸을 채우고 버튼을 누르세요.</p>
                                        <form method="post" name="enq">
                                            <div class="row">
                                                <div class="form-group col-md-12">
                                                    <label>새 비밀번호 <span class="required">*</span></label>
                                                    <input class="form-control" name="npassword" type="password" required>
                                                </div>
                                                <div class="form-group col-md-12">
                                                    <label>비밀번호 확인 <span class="required">*</span></label>
                                                    <input class="form-control" name="cpassword" type="password" required>
                                                </div>
                                                <div class="col-md-12">
                                                    <button type="submit" class="btn btn-fill-out" name="submit" value="Submit">비밀번호 변경</button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="orders" role="tabpanel" aria-labelledby="orders-tab">
                                <div class="card">
                                    <div class="card-header">
                                        <h3>주문내역</h3>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <div class="table-responsive">
                                        <table class="table">
                                            <thead>
                                            <tr>
                                                <th>Order</th>
                                                <th>Date</th>
                                                <th>Status</th>
                                                <th>Total</th>
                                                <th>Actions</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr>
                                                <td>#1234</td>
                                                <td>March 15, 2020</td>
                                                <td>Processing</td>
                                                <td>$78.00 for 1 item</td>
                                                <td><a href="#" class="btn btn-fill-out btn-sm">View</a></td>
                                            </tr>
                                            <tr>
                                                <td>#2366</td>
                                                <td>June 20, 2020</td>
                                                <td>Completed</td>
                                                <td>$81.00 for 1 item</td>
                                                <td><a href="#" class="btn btn-fill-out btn-sm">View</a></td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- END SECTION SHOP -->

        <!-- START SECTION SUBSCRIBE NEWSLETTER -->
        <!-- START SECTION SUBSCRIBE NEWSLETTER -->
    </div>
    <!-- END MAIN CONTENT -->

    <!-- START FOOTER -->
    <div th:replace="common-fragments.html :: footer"></div>
    <!-- END FOOTER -->

    <a href="#" class="scrollup" style="display: none;"><i class="ion-ios-arrow-up"></i></a>

</body>
</html>
