<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="common-fragments.html :: head"></head>

<body>
    <!-- LOADER -->
    <div th:replace="common-fragments.html :: preloader"></div>
    <!-- END LOADER -->

    <!-- Home Popup Section -->
    <!--<div th:replace="common-fragments.html :: onload-popup"></div>-->
    <!-- End Screen Load Popup Section -->

    <!-- START MAIN HEADER -->
    <header th:replace="main-fragments.html :: main-header"></header>
    <!-- END MAIN HEADER -->

    <!-- START SECTION BANNER -->
    <div th:replace="main-fragments.html :: main-header-banner"></div>
    <!-- END SECTION BANNER -->

    <!-- START MAIN CONTENT -->
    <div class="main_content">

        <!-- START SECTION SHOP -->
        <div th:replace="main-fragments.html :: main-content-product-classification"></div>
        <!-- END SECTION SHOP -->

        <!-- START SECTION BANNER -->
        <div th:replace="main-fragments.html :: main-content-banner"></div>
        <!-- END SECTION BANNER -->

        <!-- START SECTION SHOP -->
        <div th:replace="main-fragments.html :: main-content-hot-deal"></div>
        <!-- END SECTION SHOP -->

        <!-- START SECTION SHOP -->
        <div th:replace="main-fragments.html :: main-content-trendy-product"></div>
        <!-- END SECTION SHOP -->

        <!-- START SECTION SHOP -->
        <div class="section pt-0 pb_20">
            <div class="custom-container">
                <div class="row">
                    <div th:replace="main-fragments.html :: main-content-popular-product"></div>
                    <div th:replace="main-fragments.html :: main-content-high-rate-product"></div>
                    <div th:replace="main-fragments.html :: main-content-sale-product"></div>
                </div>
            </div>
        </div>
        <!-- END SECTION SHOP -->

        <!-- START SECTION SUBSCRIBE NEWSLETTER -->
        <div th:replace="main-fragments.html :: main-content-subscribe"></div>
        <!-- START SECTION SUBSCRIBE NEWSLETTER -->
    </div>
    <!-- END MAIN CONTENT -->

    <!-- START FOOTER -->
    <div th:replace="common-fragments.html :: footer"></div>
    <!-- END FOOTER -->

<a href="#" class="scrollup" style="display: none;"><i class="ion-ios-arrow-up"></i></a>

</body>
</html>
